ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242752;
    color: #ffffff;
    padding: 10px;
    z-index: 0;
}

.logo {
    width: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.menu-btn {
    display: block;
    cursor: pointer;

}

.menu-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}

aside {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    left: -250px;
    padding: 20px;
    background-color: #242752;
    z-index: 1;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

aside.active {
    left: 0;
}

nav ul {
    padding: 0;
    margin: 20px;

}

nav ul li {
    margin-bottom: 10px;
}

nav ul li > a {
    color: #ffffff;
    text-decoration: none;
}

/* pseudocalses */
/* cuando pase por encima muestre una linea */
nav ul li > a:hover {
    text-decoration: underline;
}